<div id="body">
<div class="container">
    <div class="form">
        <div class="form-floating mb-3">
            <input type="floatinginput" class="form-control" id="floatinginput" placeholder="Enter your name">
            <label for="floatinginput">Enter your name</label>
          </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Enter your email">
            <label for="floatingInput">Enter your email</label>
          </div>
          <div class="form-floating mb-3">
            <textarea class="form-control" id="floatingMessage" placeholder="Enter your message"></textarea>
            <label for="floatingMessage">Enter your message</label>
        </div>
        <button type="submit" class="btn btn-primary">Send Now</button>
    </div>
    <div class="text-above-form">
      <h2>Tell us what you think!</h2>
    </div>
    
  </div>

  <div class="reach">
    <h5>Email</h5>
    <h6>vlad.ciubuc616&#64;gmail.com</h6>
    <h5 id="phonetext">Phone</h5>
    <h6 id="phone">0726273985</h6>
    <h5 id="addresstext">Address</h5>
    <h6 id="address">Nicolae Labis 32</h6>
  </div>
</div>   
