<div id="body">

  <div class="selectbox">
 <select onfocus="" class="form-select" aria-label="Default select example">
    <option selected>Select car brand</option>
    <option value="1">Nissan</option>
    <option value="2">Toyota</option>
    <option value="3">Subaru</option>
  </select>

  <select class="form-select1" aria-label="Default select example">
    <option selected>Select model</option>
    <option value="1">Qashqai</option>
    <option value="2">GT-R</option>
    <option value="3">X-Trail</option>
  </select>

  <select class="form-select2" aria-label="Default select example">
    <option selected>Select year</option>
    <option value="1">2019</option>
    <option value="2">2020</option>
    <option value="3">2021</option>
  </select>

  <div class="input-group">
    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
      <i class="fas fa-search"></i>
    </button>
  </div>  

</div>

<div class="newimg"> 
  <img class="secondimg" src="assets/exhaustpipe.jpg"/>
  <div class="firsttext">SPORT EXHAUST KIT</div>
  <img class="thirdimg" src="assets/wheels.png"/>
  <div class="secondtext">JR & CONCAVER SALE</div>
</div> 

<div class="spacer"></div>

<div class="shopbutton">
  <a href="/exkit" target="_blank">
    <button type="button" class="btn btn-danger">SHOP HERE!</button>
  </a>
</div>

<div class="salebutton">
  <button type="button" class="btn btn-danger">SHOP HERE!</button>
</div>

<div class="uptodate">
  <h5>Want to stay up to date?</h5>
</div>

<div class="newsletter">
  <h6>Sign up for our newsletter!</h6>
</div>

<form>
  <div class="mb-3">
    <input type="email" class="form-control" id="floatinginput" placeholder="Enter your email">
  </div>
  <div class="subscribebutton">
    <button type="button" class="btn btn-danger">SUBSCRIBE ➤</button>
  </div>
</form>


