<ul class="nav nav-pills">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Interior</a></li>
        <li><a class="dropdown-item" href="#">Exterior</a></li>
        <li><a class="dropdown-item" href="/contact" target="_blank">Contact</a></li>
      </ul>
    </li>

    <div class="container">
      <button>Log In</button>
      <a class="navbar-brand d-flex" href="#">
        
      </a>
    </div>
    
  </ul>
