.picture{
    margin-top: 90px;
}
.image{
    margin-left: 60px;
    margin-top: 10px;
    
}

h5{
   margin-left: 700px;
}

.title {
    margin-top: 100px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

h6{
    margin-left: 700px;
    margin-top: -120px;
}

p{
    margin-left: 715px;
    margin-top: 10px;
}

.delivery h5{
    margin-left: 100px;
    margin-top: -10px;
}

.delivery p{
    margin-left: 40px;
    margin-top: 10px;
}

.del{
    position: relative;
    top: -280px;
}

.info{
    position: relative;
    top: -80px;
}
#body{
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

.cart{
    position: relative;
    margin-left: 1000px;
    border: 2px solid black;
    top: -360px;
    height: 34vh;
    width: 30%;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    
  }

  .btn-dark {
    width: 200px;
    margin-top: 40px;
    margin-bottom: 150px;
    margin-left: 125px;
}
 .cart h6{
    margin-left: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: red;
 }
 .cart h5{
    margin-left: 30px;
    margin-top: 10px;
 }

 .cart p{
    margin-left: 30px;
    margin-top: 10px;
 }

